/*
**
**
** MAIN Navigation menu
**
**
**/
body{
    font-family: roboto;
    font-style: roboto;
}
.top-row{
    height: 40px;
    width: 100%;
    background-color: #17202A;
    color: #FFFFFF;
}

.bottom-row{
    height: 33px;
    width: 100%;
    background-color: #f6f5f3;
    color: black;
}

.logo-container{
    height: 40px;
    width: 120px;
    float: left;
    padding: 10px;
}

.navigation{
    height: 40px;
    width: calc(50% - 170px);
    float: left;
}

.padding{
    height: 40px;
    width: 120px;
    float: left;
}

.tabs{
    width: calc(100% - 120px);
    float: left;
}

.navbar{
    height: 40px;
    min-height: 40px;
    border: none;
}

.bottom-row .navbar{
    height: 33px;
    min-height: 33px;
    border: none;
}

.navbar-form{
    bottom: 5px;
    position: relative;
}

.navbar-brand{
    height: 40px;
}

.bottom-row .navbar-brand{
    height: 33px;
}

.form-control{
    background-color: #5a5757;
    color: #FFFFFF;
    border: none;
}

.search{
    background-color: #5a5757;
    color: #FFFFFF;
    border: none;
}

.menu-icons{
    height: 40px;
    width: 50px;
    float: right;

}

@media (min-width: 768px){
    .navbar-nav>li>a{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.selector-for-some-widget {
    box-sizing: content-box;
}

/*Top Row*/
.top-row .navbar-default{
    background-color: #17202A;
    color: #FFFFFF;
    height: 40px;
}


.top-row .navbar-default .navbar-nav>li>a{
    color: #FFFFFF;
}

.top-row .navbar-default .navbar-nav>li>a:hover{
    color: #4fa6d4;
}

.top-row .navbar-default .navbar-nav>.active>a{
    color: black;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 37px;
    bottom: -3px;
    position: relative;
    background-color: #f6f5f3;
}

.top-row .navbar-default .navbar-nav>.active::before{
    content: "";
    position: absolute;
    bottom: -3px;
    width: 10px;
    height: 10px;
    left: -10px;
    z-index: 1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10px' height='10px'%3E%3Crect width='10px' height='10px' style='fill:%23f6f5f3;'/%3E%3Ccircle cx='0' cy='0' r='10px' fill='%2317202A'/%3E%3C/svg%3E");
}

.top-row .navbar-default .navbar-nav>.active::after{
    content: "";
    position: absolute;
    bottom: -3px;
    width: 10px;
    height: 10px;
    z-index: 1;
    right: -10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10px' height='10px'%3E%3Crect width='100px' height='10px' style='fill:%23f6f5f3;'/%3E%3Ccircle cx='10' cy='0' r='10px' fill='%2317202A'/%3E%3C/svg%3E");
}

.top-row .navbar-default .navbar-nav>li>a{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 37px;
    bottom: -3px;
    position: relative;
}

.top-row .btn-group{
    padding: 3px;
}

.top-row .btn-default{
    background-color: #17202A;
    color: #FFFFFF;
    border: none;
}

.top-row .search-bar{
    height: 40px;
    width: 50%;
    float: left;
}
.top-row .search-bar .navbar-form{
    width: 100%;
}
.search-bar .form-group{
    width: calc(100% - 50px);
}
.search-bar .form-group > input{
    width:  100%;
    border-radius: 25px;
}

/*Bottom Row*/



/*
**
**
** Search Result Compenets 
**
**
*/

#main{
    height: calc(100% - 40px);
    width: 100%;
    top: 40px;
    position: absolute;
    background-color: #f6f5f3;
}

/* Menu Tree*/
.menu-tree{
    height: 100%;
    width: 300px;
    position: relative;
    background-color: #f6f5f3;
    float: left;
    display: none;
}
.open-tree.menu-tree{
    display: inline;
}

.toggle-tree{
    height: 100%;
    width: 20px;
    background-color: #dedede;
    position: relative;
    border-radius: 3px;
    float: left;
    z-index: 1;
}

.three-dots{
    top: 45%;
    position: relative;
    font-size: 20px;
    z-index: 2;
}

.open-tree .three-dots{
    top: 45%;
    position: relative;
    left: -4px;
    font-size: 20px;
}

.open-tree.toggle-tree{
    width: 10px;
    background-color: #dedede;
}
.toggle-tree:hover{
    background-color: #a29d9d;
}

/* Search Result Component*/
.content-results{
    height: 100%;
    width: calc(100% - 20px);;
    float: right;
    position: relative;
}
.open-tree.content-results{
    width: calc(100% - 310px);
}
.search{
    width: 75%;
    height: 30px;
    margin: 10px 12.5% 10px 12.5%;
    background: #ddd;
    border-radius: 5px;
    padding-left: 10px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: black;
}
.search{
    width: 75%;
    height: 30px;
    margin: 10px 12.5% 10px 12.5%;
    background: #ddd;
    border-radius: 5px;
    padding-left: 10px;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: black;
}
.tag-results{
    width: 85%;
    height: 15%;
    margin: 10px 7.5% 25px 7.5%;
    background-color: white;
    border-radius: 6px;
}
.price-container{
    display:flex;
    width: 85%;
    height: 7%;
    margin: 20px 7.5% 10px 7.5% 10px;
}
.side-label{
    font-size: 20px;
    font-weight: bold;
    margin: 3px 10px 0px 12px;
}
.price-select{
    margin: 0px 20px 0px 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background: white;
    width: 200px;
}
.dimension-container{
    display: flex;
    margin: 25px 0px 10px 0px;
}
.dimension{
    margin: 0px 2px 0px 2px;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    background: white;
    width: 48px;
    font-size: 11px;
    font-weight: bold;
}
.dimension1{
    margin: 0px 2px 0px 2px;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    background: white;
    width: 70px;
    font-size: 11px;
    font-weight: bold;
}
.to{
    margin: 5px 4px 0px 4px;
}
.lites-label{
    font-size: 20px;
    font-weight: bold;
    margin: 15px 10px 0px 10px;
}
.lites-select{
    margin: 15px 20px 0px 10px;
    padding: 2px 2px;
    border: none;
    border-radius: 5px;
    background: white;
    width: 60px;
    font-size: 11px;
    font-weight: bold;
}
.lites-row{
    display: flex;
}

/* Display Menu */
.top-row-results
{
    width: calc(100%);
    float: left;
    overflow: hidden;
    margin-top: 5px;
}
#btn-view
{
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #cccccc;
    cursor: pointer;
    margin-left: 10px;
}
#btn-view1
{
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #cccccc;
    cursor: pointer;
    margin-left: 10px;
}
#btn-view:hover {
  background-color: #ddd;
}
#btn-view1:hover {
  background-color: #ddd;
}
.searchItemCol
{
    width: calc(100%);
    height: 300px;
    min-height: 300px;
    margin-top: 10px;
    float: left;
}
.doorImage{
    width: 280px;
    height: calc(100% - 20px);
    float: left;
    margin-left: 10px;
}
.miscDescription
{
    width: calc(100% - 300px);
    height: calc(100% - 20px);
    float: left;
    text-align: left;
    padding-left: 15px;
}
.itemID
{
    width: 50%;
    height: 25%;
    float: left;
}
.itemPrice
{
    width: 50%;
    height: 25%;
    float: left;
}
.itemMaterial
{
    width: 50%;
    height: 25%;
    float: left;
}
.itemWidth
{
    width: 50%;
    height: 25%;
    float: left;
}
.itemHeight
{
    width: 50%;
    height: 25%;
    float: left;
}
.itemDepth
{
    width: 50%;
    height: 25%;
    float: left;
}
.itemDescription
{
    width: 100%;
    height: 25%;
    float: left;
    text-align: center;
}
